/* body{
    text-align: center;
}
#container{
    width: 800px;
    height: 200px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: row-reverse;
}
div{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;

}
#box1{
    background-color: red;
}
#box2{
    background-color: green;
}
#box3{
    background-color: yellow;
}
#box4{
    background-color: pink;
}
#box5{
    background-color: aqua;
} */

* {
  padding: 0;
  margin: 0;
}
/* ul {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: red;
  
}
li {
  list-style-type: none;
  display: inline;
}
.outer{
    width: 400px;
    height: 400px;
   background-color: rgb(145, 77, 77);
   display: flex;
   justify-content: center;
   align-items: center;
}

.inner{
    width: 100px;
    height: 100px;
   background-color: rgb(221, 207, 207);
  
} */

div{
    width: 400px;
    height: 400px;
    background-color: cadetblue;
}
@media (max-width: 300px) {
   div {
    background-color: green;
    }
    
}
@media (min-width: 300px) and (max-width:400px) {
    div {
     background-color: pink;
     }
     
 }
 @media (min-width: 400px) and (max-width:600px) {
    div {
     background-color: red;
     }
     
 }
 @media (min-width: 600px)  {
    div {
     background-color: blue;
     }
     
 }
